name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  lint-and-build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - name: Npm setup
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build
